:root {
  /* Font size */
  --font-large: 50px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Color */
  --color-light-grey: #fcfcfd;
  --color-grey: #7c7979;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cyan: #99e2ef;
  --color-dark-cyan: #8ce0ee;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

h1 {
  font-size: var(--font-large);
  font-weight: 600;
}

h2 {
  font-size: var(--font-medium);
  font-weight: 600;
}

h3 {
  font-size: var(--font-small);
}

p {
  font-size: var(--font-small);
}

h4 {
  font-size: var(--font-micro);
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

.banner {
  background: url("../assets/banner.png") center/cover no-repeat;
  height: 350px;
  padding: 50px;
  color: var(--color-white);
  text-align: center;
}
.main {
  display: flex;
  justify-content: center;
}

.main__container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  min-height: 250px;
  margin: 30px 0;
  border: 1px solid #eaecee;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.post:hover {
  transform: translate3d(0, -10px, 0);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.post-image {
  flex-basis: 40%;
  background: url("../assets/desk.jpg") center/cover no-repeat;
  margin-right: 10px;
}

.post-date {
  color: #adb5bd;
}

.post-content {
  flex-basis: 60%;
  padding-left: 20px;
}

.post-text {
  padding: 0;
  line-height: 25px;
  word-spacing: 1px;
  overflow: hidden;
}

.banner__avatar {
  width: 100px;
  border-radius: 50%;
}

.banner__name {
  margin: 10px 0;
}

.post-link {
  text-decoration: none;
}

.add-post {
  background-color: var(--color-cyan);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all 0.3s ease;
}

.add-post:hover {
  background-color: var(--color-dark-cyan);
}

.add-post i {
  color: var(--color-white);
  font-size: 20px;
  line-height: 50px;
}

.footer {
  min-height: 100px;
  background-color: #eaecee70;
  color: #929eaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 14px;
}
